html {
  background: url(https://imgur.com/RVtH3et.jpg) no-repeat center center fixed; 
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  font-family: sans-serif;
}

.box {
  margin: 10px auto;
  max-width: 600px;
  background-color: rgb(189, 186, 186);
  padding: 10px;
  border: 2px solid;
  border-color: gray;
  opacity: 0.85;
}

.center {
  text-align: center;
}

.left {
  text-align: left;
}

h1 {
  color: red;
}

li {
  margin-left: -20px;
  margin-bottom: 3px;
}

button {
  display: inline;
}

.alert {
  color: red;
}

.form {
  max-width: 600px;
  background-color: rgb(189, 186, 186);
  margin: 10px auto;
  text-align: left;
  padding: 10px;
  border: 3px solid;
  border-color: gray;
}

input[type=number] {
  max-width: 40px;
  margin-bottom: 3px;
}

.hidden {
  display: none;
}